$BaseColor: #ffffff;
$AccentColor: #1A4C89;
$BackgroundPrimary: #eceae9;
$BackgroundSecondary: #d4d3d3;
$TextColor: #575756;

$Bold: OpenSans-Bold;
$Regular: OpenSans-Regular;
$SemiBold: OpenSans-Semibold;

$EmergencyColor: #e30613;

$NavigationHeight: 10vh;
$NavigationOffset: $NavigationHeight + 2vh;
$PageHeaderPageContainerOffset: $NavigationHeight + 1.5vh;

$TitleFontSize: 2.7vh;

$TextFontSize: 2.4vh;