@import "_variables.scss";

.ErrorIndicator {
    animation: blinkRed .5s step-end infinite alternate;
    border: 3px solid transparent;
    white-space: pre-line;
}

@keyframes blinkRed {
    50% {
        border-color: red;
    }
}