@import "_variables.scss";

.ResultItem {
    text-decoration: none;
    border-bottom: 3.5px solid $AccentColor;
    font-family: $Regular;


    &:hover {
        cursor: pointer;
    }

    &:visited {
        color: inherit;
    }
}

.grid-container.ResultItem {
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 0.2em;
}

.ThreeRowsResult-ResultItem, .SingleRowResult-ResultItem {
    section {
        display: inline-grid;
        padding: 0.5em 0.2em;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        &span:first-of-type {
            font-weight: bold;
        }
    }

    .ResultItem-Row-One {
        grid-template-columns: 60% 30%;
        grid-template-rows: 100%;
        max-height: 10vh;
        align-items: center;


        .ResultItem-Name-Info {
            display: inline-grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 100%;
            max-height: 2em;

            .ResultItem-ItemName {
                font-family: inherit;
                min-height: 1em;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-break: break-all;
                white-space: normal;
                height: 2em;
            }
        }

        .ResultItem-ShortDescription {
            justify-self: end;
        }
    }

    .ResultItem-Row-Two {
        grid-template-columns: 60% 30%;
        grid-template-rows: 100%;
        max-height: 20vh;
        align-items: center;

        .ResultItem-Location-Info {
            display: inline-grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 100%;
            width: 90%;
        }

        img {
            width: 100%;
            object-fit: contain;
            justify-self: end;
        }
    }

    .ResultItem-Row-Three {
        grid-template-columns: 60% 30%;
        grid-template-rows: 100%;
        max-height: 10vh;
        align-items: center;

        i, img {
            justify-self: end;                       
        }

        img {
            width: 2em;
        }

        .ResultItem-ContactInfo {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-all;
            white-space: normal;
        }

        img:first-child {
            justify-self: baseline !important;
        }
    }
}

.grid-container.ResultItem.SingleRowResult-ResultItem {
    grid-template-columns: 80% 20%;
    grid-gap: unset;
    &:hover {
        cursor: pointer;
    }
    section {
        padding: 0.6em 1em;
    }

    i {
        align-self: center;
        justify-self: center;
        font-size: 1.8em;
    }

    .ResultItem-Row-One {
        grid-template-columns: 100%;
        grid-template-rows: unset;
        grid-gap: .8em;
        max-height: unset;
        .ResultItem-Name-Info {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            .ResultItem-ItemName {
                font-family: $Bold;
            }
        }

        .ResultItem-Location-Info {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}


.TwoRowsResultWithItemList-ResultItem {
    section {
        display: inline-grid;
        padding: 0.5em 0.2em;
        overflow: hidden;
        align-items: center;
        justify-content: center;

        &span:first-of-type {
            font-weight: bold;
        }
    }

    .ResultItem-Row-One {
        grid-template-columns: 60% 30%;
        grid-template-rows: 100%;
        max-height: 10vh;
        align-items: center;


        .ResultItem-Name-Info {
            display: inline-grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 100%;

            max-height: 2em;

            .ResultItem-ItemName {
                font-family: inherit;
                min-height: 1em;
                //
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                word-break: break-all;
                white-space: normal;
                height: 2em;
            }
        }

        .ResultItem-ShortDescription {
            justify-self: end;
        }
    }

    .ResultItem-Row-Two {
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        max-height: 20vh;
        align-items: center;

        .ResultItem-Location-Info {
            display: inline-grid;
            grid-template-rows: 50% 50%;
            grid-template-columns: 100%;
            width: 90%;
        }

        img {
            width: 100%;
            object-fit: contain;
            justify-self: end;
        }
    }
}