@import "_variables.scss";

.Search {
    grid-template-rows: auto;
    grid-template-columns: auto;
    height: 100vh;
    align-items: center;
    background-color: #ecebea;
    font-family: $SemiBold;

    form {
        grid-template-rows: 45% 55%;
        grid-template-rows: 50% 50%;
        grid-template-columns: 90%;
        align-self: baseline;
        justify-items: baseline;
        align-items: center;
        height: 17vh;
        max-height: 17.3vh;
    }

    span {
        color: $TextColor;
        font-size: 3.0vh;
        padding-bottom: 1vh;
        padding-top: 1vh;
        display: block;
        margin: 0 auto;
        width: 90%;
    }

    button[type="submit"] i, i {
        align-self: center;
        padding: 3vw 3vw 3vw 3vw;
        font-size: 5.5vh;
        //color: $AccentColor;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        margin: 0vh auto;
        background-color: $BaseColor;
        box-shadow: inset 0vw 1vw 1vw #d4d4d4;
        max-width: 90%;
        margin: 0 auto;
        max-height: 60%;
        align-self: center;
    }

    button[type="submit"] {
        background: none;
        border: none;
        align-self: center;
    }

    .input-field {
        border: none;
        background-color: transparent;
        width: 64vw;
        max-width: 64vw;
        font-family: $Regular;

        &::-webkit-input-placeholder {
            font-family: $Regular;
            font-size: 16px;
        }

        &::-moz-placeholder {
            font-family: $Regular;
            font-size: 16px;
        }

        &:-ms-input-placeholder {
            font-family: $Regular;
            font-size: 16px;
        }

        &:focus {
            outline: none;
        }
    }
}
