@import "_variables.scss";

.navbar .iconCircle {
    background-color: $iconCircleColor;
}

.navbar .navbar-brand {
    max-width: unset;
}

.navbar .navbar-brand img {
    max-width: 40%;
}

.navbar #loading-indicator .loader:before {
    background: $iconCircleColor;
}