@import "_variables.scss";

@font-face {
    font-family: $Bold;
    src: url(./fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: $Regular;
    src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: $SemiBold;
    src: url(./fonts/OpenSans-Semibold.ttf);
}
// Import Only parts of global that are needed
@import "../../global/Styles/AnchorLite";
@import "../../global/Styles/Article";
@import "../../global/Styles/Contact";
@import "../../global/Styles/General";
@import "../../global/Styles/Item";
@import "../../global/Styles/Movie";
@import "../../global/Styles/Nav";
@import "../../global/Styles/PageHeader";
@import "../../global/Styles/Search";
@import "../../global/Styles/TitleLite";
@import "../../global/Styles/Nugget";
@import "../../global/Styles/ListLite";
@import "../../global/Styles/Tabs";
@import "../../global/Styles/ErrorIndicator";
@import "../../global/Styles/DescriptionList";
@import "../../global/Styles/ResultList";
@import "../../global/Styles/ResultItem";

@import "AnchorLite.scss";
@import "Article.scss";
@import "Item.scss";
@import "ListLite.scss";
@import "Nav.scss";
@import "Nugget.scss";
@import "PageHeader.scss";
@import "ResultItem.scss";
@import "Search.scss";
@import "Tabs.scss";
@import "TitleLite.scss";

.Ellipse {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;    
}