@import "_variables.scss";

.ResultItem {
    border-bottom-color: $BackgroundPrimary;
}


.ThreeRowsResult-ResultItem {
    section {
        background: $BackgroundPrimary;
        color: $TextColor;
    }

    .ResultItem-Row-One {
        .ResultItem-Name-Info {

            .ResultItem-ItemName {
                font-family: $Bold;
            }
        }

        .ResultItem-ShortDescription {
            font-family: $Bold;
            color: $BackgroundPrimary;
        }
    }

    .ResultItem-Row-Two {

        .ResultItem-Location-Info {

            .ResultItem-Description {
                font-family: $Bold;
            }
        }
    }

    .ResultItem-Row-Three {

        .ResultItem-ContactInfo {
            font-family: $Bold;
        }
    }
}


.SingleRowResult-ResultItem {
    background: $BackgroundPrimary;


    section {
        color: $TextColor;
    }

    i {
        color: $AccentColor;
    }

    .ResultItem-Row-One {
        .ResultItem-Name-Info {
            .ResultItem-ItemName {
                font-family: $Bold;
            }
        }

        .ResultItem-ShortDescription {
            font-family: $Bold;
            color: $BackgroundPrimary;
        }

        .ResultItem-Location-Info {

            .ResultItem-Description {
                font-family: $SemiBold;
            }
        }
    }
}