$BaseColor: #ffffff;
$AccentColor: #1C3360;
$BackgroundPrimary: #ECEAE9;
$BackgroundSecondary: #D0C9C3;
$TextColor: #575756;
$ActiveNugget: #585857;
$NormalNugget: #ebeae9;

$EmergencyColor: #e30613;

$Bold: OpenSans-Bold;
$Regular: OpenSans-Regular;
$SemiBold: OpenSans-Semibold;

$TitleFontSize: 3.2vh;

$TextFontSize: 2.6vh;