@import "_variables.scss";

.Article {
    padding: unset;


    h4, section {
        padding: 2vh;
    }

    section {
        span.red-bullet {
            color: $iconCircleColor;
        }
    }
    }


    .Article.HasBorder {
        border-bottom-color: $iconCircleColor;
    }