@import "_variables.scss";

body main > .PageHeader .iconCircle > img {
    display: unset;
}

.PageHeader {
    border-bottom-color: $iconCircleColor;
    .iconCircle {
        i {
            color: $iconCircleColor;
        }
    }
}
