@import "_variables.scss";

.Article {
    padding: unset;
    background: $BackgroundSecondary;

    section {
        background: $BackgroundPrimary
    }

    h4, section {
        padding: 2vh;
    }

    .Profile {
        background-color: $BackgroundPrimary;
        border-bottom: 3px solid $AccentColor;

        .Title {
            background: $BackgroundSecondary;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    }
}
