#social-bar {
    a {
        padding: 0.5em;
        width: 21.11%;
        margin: 0;
    }
    .twitter-social-item {
        background: hsl(198, 90%, 61%);
    }

    .google-social-item {
        background: hsl(7, 80%, 61%);
    }

    .facebook-social-item {
        background: hsl(221, 56%, 59%);
    }

    .whatsapp-social-item {
        background: hsl(127, 66%, 55%);
    }

    .mail-social-item {
        background: hsl(200, 100%, 40%);
    }
}
