<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>_Layout</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <script src="~/js/bootstrap.js"></script>
    </environment>
    <environment names="Production,Stagging">
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <script src="~/js/bootstrap.min.js"></script>
    </environment>
</head>
<body style="margin-top: 110px">
    @RenderBody()
</body>
</html>
