@import "_variables.scss";

.navbar .navbar-brand {    
    max-width: 33%;
}

#NavMenu {
    left: auto !important;
    top: unset !important;
}

.dropdown {
    top: 12vh;
}

@media screen and (min-width: 1024px) {
    .navbar .navbar-brand {
        max-width: 15%;
    }
}