@import "_variables.scss";

.Article {
    padding: unset;
    background: $BackgroundSecondary;

    section {
        background: $BackgroundPrimary
    }

    h4, section {
        padding: 2vh;
    }
}

.Article.HasBorder, .Article.Profile {
    border-bottom-color: $iconCircleColor;
}
