$BaseColor: #ffffff;
$AccentColor: #E30613;
$BackgroundPrimary: #EBE4DF;
$BackgroundSecondary: #D0C9C3;
$TextColor: #575756;
$ActiveNugget: #585857;
$NormalNugget: #ebeae9;

$NavigationHeight: 10vh;
$EmergencyColor: #e30613;

$Bold: OpenSans-Bold;
$Regular: OpenSans-Regular;
$SemiBold: OpenSans-Semibold;

$TitleFontSize: 3.2vh;

$TextFontSize: 2.6vh;

@font-face {
    font-family: $Bold;
    src: url(/webfonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: $Regular;
    src: url(/webfonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: $SemiBold;
    src: url(/webfonts/OpenSans-Semibold.ttf);
}