@import "_variables.scss";

.Article {
    display: grid;
    grid-template-rows: auto;
    font-family: $Regular;
    margin: 0;

    h5 {
        margin: 0;
        just-self: left;
        font-size: $TextFontSize;
    }

    h5:first-of-type {
        padding-top: 0.9em;
    }

    img {
        align-self: center;
        width: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    strong {
        font-style: italic;
    }

    section {
        margin: 0;
        color: #5a5a59;
        font-size: 2.3vh;

        span.red-bullet {
            color: $iconCircleColor;
        }

        a {
            font-style: $Regular;
            color: inherit;
        }

        .strong {
            font-weight: bold;
        }
    }

    img[src="/preventicum/img/img-1.png"] {
        width: 100%;
    }

    p + ul {
        padding-bottom: 1.5em;
    }

    a.red-bullet {
        font-weight: bolder;
    }
}