ul#pills-tab.nav.nav-pills li::before {
    content: none;
}

.tab-pane > .Title {
    font-size: 1.2em;
}

#pills-tab .nav-item .nav-link {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: unset;
}