@model ChatBot

<div id="chatbot-containet" style="height: 75vh;"></div>
<script>
    var myLandbot = new LandbotFrameWidget({
        index: '@Model.Index',
        container: '#chatbot-containet',
    });
</script>