@model Nugget

<div class="Nugget" id="pills-@Model.Title">
    @if(Model.Images.Length != 0) { 
        @for (var image = 0; image < Model.Images.Length; image += 1)
        {
            <img src="@Model.Images[image]" alt="@Model.ImageDescription[image]" />

            <section>
                @Html.Raw(Model.Descriptions[image])
            </section>
        }
    }
</div>
